/* CSS styles for the boxes */
body{
  background-color: #EBDBDB;
  font-family: "Arial Rounded MT Bold", sans-serif; 
}

.topLine{
  background-color: #0095DD; 
  height: 5px;
  width: 100%;
  margin: -10px -20px 0;
  padding: 10px 20px; 
  }
  
  .topDiv{
  color: #FEF2BF; 
  background-color: #0095DD; 
  height: 25px;
  width: 150px;
  right: 20px;
  top: 10px;
  float: right;
  position: absolute;
  font-weight: bold; 
  font-size: 20px; 
  border-radius: 7px;
  text-align: center;
  }

.information{  
  background-color: #0095DD;
  border: 2px solid #000000;
  width: 1000px;
  height: 300px;
  border-radius: 10px;
  margin: 0 auto; 
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px; 
}

.information > .info_box{
background-color: #FEF2BF;
border: 2px solid #636363;
width: calc(70% - 27px);
height: calc(20% - 22px);
border-radius: 10px;
margin: 5px; 
padding-left: 10px;
gap: 10px; 
}

.information > .label{
background-color: #FEF2BF;
border: 2px solid #636363;
width: calc(30% - 32px);
height: calc(20% - 22px);
border-radius: 10px;
margin: 5px; 
font-weight: bold;
padding-left: 10px;
vertical-align: top;
gap: 10px; 
}

.box {
  background-color: #ccc;
  border: 2px solid #636363;
  width: 150px;
  height: 50px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  margin-top: 25px;
}

.cashier-box {
  background-color: #0095DD;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-top: 25px;
  font-weight: bold;
}